.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__menu {
    color: $color__hot-pink;
    font-size: 32px;

    &:hover {
      .navbar__label {
        transform: translateY(0);
      }
    }
  }

  &__label-box {
    margin-top: 4px;
    width: 100%;
    height: 10px;
    overflow: hidden;
  }

  &__label {
    font-size: 8px;
    text-transform: uppercase;
    color: $color__hot-pink;
    font-family: $font__family--sans;
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
  }
}