.page {

  &__home-bg {
    background-color: $color__sky-blue;
    background-image: linear-gradient(180deg, $color__sky-blue 0%, $color__light-pink 100%);
    background-size: cover;
    padding: 0 130px;
  }

  &__heading-h1 {
    color: $color__purple;
    font-family: $font__family--serif;
    font-size: 48px;
  }

  &__link {
    color: $color__purple;
  }

  &__heading-h3 {
    font-family: $font__family--sans;
    font-weight: 700;
    font-size: 22px;
    color: $color__purple;
  }
}