.page {

  &__home-bg {
    background-color: $color__sky-blue;
    background-image: linear-gradient(180deg, $color__sky-blue 0%, $color__light-pink 100%);
    background-size: cover;
    padding: 0 130px;
  }

  &__heading-h1 {
    color: $color__purple;
    font-family: $font__family--bold;
    font-size: 48px;
    text-align: center;
  }

  &__link {
    color: $color__purple;
  }

  &__heading-h2 {
    font-family: $font__family--bold;
    text-align: center;
    font-size: 24px;
    color: $color__purple;
  }
}