.quiz-tile {
  background-color: $color__white;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% / 3 - 20px);
  margin-bottom: 30px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,.30);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,.70);
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }

  &__title {
    text-align: center;
    font-family: $font__family--serif;
    color: $color__purple;
    font-size: 18px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color__light-purple;
    }
  }
}

.quiz-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}