<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catfeed Quizzes</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
    <script src="/main.js"></script>
    <script>Elm.Main.fullscreen()</script>
</body>
</html>